attendance-app/frontend-node/package.json
attendance-app/frontend-node/package-lock.json
attendance-app/frontend-node/node_modules/
attendance-app\attendance-backend\.venv
esc/
rollcall-app/backend/aws
rollcall-app/backend/venv
rollcall-app/.env