esc/
.metadata/
RemoteSystemsTempFiles/
attendance-app/frontend-node/package.json
attendance-app/frontend-node/package-lock.json
attendance-app/frontend-node/node_modules/
attendance-app/attendance-backend/.venv/
rollcall-app/backend/venv
rollcall-app/backend/aws
rollcall-app/.env
rollcall-app/backend/__pycache__/
rollcall-app/backend/utils/__pycache__