<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>履歴表示</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body class="container py-4">
    <h2 class="mb-4">記録の参照</h2>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="historyToast" class="toast text-bg-warning" role="alert" data-bs-delay="3000">
            <div class="toast-body">ユーザーを選択してください。</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="userSelect" class="form-label">ユーザーを選択</label>
        <select id="userSelect" class="form-select"></select>
    </div>

    <button id="loadHistoryBtn" class="btn btn-primary mb-4">履歴を表示</button>
        <div id="summary" class="mb-4">
            <h4>集計値(欠席数は遅刻・早退数を換算)</h4>        
            <p id="lateCount">遅刻回数: -</p>
            <p id="earlyCount">早退回数: -</p>
            <p id="absenceCount">欠席回数: -</p>
            <p>注釈：遅刻と早退は累計が3回になるごとに欠席が1回増加します</p>
        </div>
        <div id="logList">
            <details id="pattern_1">
            <summary>記録の詳細</summary>
            <h4>一覧</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>種別(該当日時)</th>
                            <th>記録日時</th>
                        </tr>
                    </thead>
                    <tbody id="logTableBody"></tbody>
                </table>
                    <details id="pattern_2">
                        <summary>-- 未実装(記録を編集) --</summary>
                    </details>
            </details>
            </div>
            <hr>
            
            <a href="index.html" class="btn btn-link mt-4">メニューに戻る</a>
    </div>

    <script src="../public/script/history.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
